<div class="container">
    <div class="header">
        <h2>Advanced Search</h2>
    </div>
    <input matInput class="input-search" placeholder="Inteligent search" [(ngModel)]="advancedSearchTerm"
        (keyup.enter)="advancedSearch()">
    <div class="image-wrapper" [class.editable]="true">
        @if (imageUrl) {
        <img [src]="imageUrl" alt="Item image" />
        } @else {
        <div class="image-placeholder">
            <mat-icon>photo_camera</mat-icon>
            <p>Upload an image</p>
        </div>
        }
        <div class="file-input-overlay">
            <button mat-fab color="primary" (click)="fileInput.click()">
                <mat-icon>photo_camera</mat-icon>
            </button>
            <button mat-fab color="primary" (click)="deleteImage()">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <input #fileInput type="file" (change)="onImageChanged($event)" hidden />
        </div>
    </div>
    <button mat-stroked-button class="btn-search" (click)="advancedSearch()" [disabled]="isSearching">
        @if (isSearching) {
        <mat-spinner diameter="15"></mat-spinner>
        } @else {
        <mat-icon>search</mat-icon>
        }
        <span>{{ isSearching ? 'Searching...' : 'Search' }}</span>
    </button>
</div>