<app-header [userLoggedIn]="user"></app-header>
<div class="container">
    @if (item) {
    @if (!newItem && !editMode) {
    <div class="field-row">
        Name {{item.name}}<br>
    </div>
    <div class="field-row">
        Category {{item.category}}<br>
    </div>
    <div class="field-row">
        Description {{item.description}}<br>
    </div>
    <div class="field-row">
        Created on {{item.created}}<br>
    </div>
    <div class="field-row">
        Location {{item.location}}<br>
    </div>
    @if (imageUrl) {
        <img [src]="imageUrl" alt="Item image" /><br>
    }
    @if (user.role === Role.ADMIN) {
    <p>Owner {{ owner?.username }}</p>
    }
    <div class="actions">
        <button mat-stroked-button (click)="editItem()">Edit</button>
        <button mat-stroked-button (click)="deleteItem()">Delete</button>
    </div>
    @if (item.additionalData.size > 0) {
        <table mat-table [dataSource]="additionalDataList" class="mat-elevation-z8">
            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef> Property </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <input matInput [(ngModel)]="element.key" [readonly]="!editMode && !newItem" />
                </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <input matInput [(ngModel)]="element.value" [readonly]="!editMode && !newItem" />
                </td>
            </ng-container>
            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsReadOnly"></tr>
            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: displayedColumnsReadOnly;"></tr>
        </table>
    }
    } @else {
    @if (newItem) {
    <h1>New item</h1>
    }

    <div class="field-row">
        Name <input matInput [(ngModel)]="item.name" [readonly]="!editMode && !newItem" /><br>
    </div>
    <div class="field-row">
        Category <input matInput [(ngModel)]="item.category" [readonly]="!editMode && !newItem" /><br>
    </div>
    <div class="field-row">
        Description <input matInput [(ngModel)]="item.description" [readonly]="!editMode && !newItem" /><br>
    </div>
    <div class="field-row">
        Created on {{item.created}}<br>
    </div>
    <div class="field-row">
        Location <input matInput [(ngModel)]="item.location" [readonly]="!editMode && !newItem" /><br>
    </div>

    @if (newItem || editMode) {
    <button mat-stroked-button (click)="autocompleteDetails()">Autocomplete</button>
    }
    @if (newItem || editMode) {
    <input type="file" id="file" (change)="onImageChanged($event)" />
    }

    <caption>Other properties</caption>
    @if (newItem || editMode) {
    <button mat-icon-button aria-label="Add new property" (click)="addOtherProperty()"><mat-icon>add</mat-icon></button>
    }
    @if (additionalDataList.length > 0) {
    <table mat-table [dataSource]="additionalDataList" class="mat-elevation-z8">
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> Property </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <input matInput [(ngModel)]="element.key" [readonly]="!editMode && !newItem" />
            </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <input matInput [(ngModel)]="element.value" [readonly]="!editMode && !newItem" />
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index">
                @if (newItem || editMode) {
                <button mat-icon-button (click)="deleteOtherProperty(i)">
                    <mat-icon>delete</mat-icon>
                </button>
                }
            </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }

    <!-- buttons -->
    <div class="actions">
        @if (newItem || editMode) {
        <button mat-stroked-button (click)="save()">Save</button>
        }
        @if (newItem || editMode) {
        <button mat-stroked-button (click)="cancel()">Cancel</button>
        }
    </div>
    }
    } @else {
    <p>Loading item details...</p>
    }
</div>